.bookcard-container {
    display: grid;
    width: 90vh;
    height: 50vh;

    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 300px);
    grid-auto-flow: row;

    grid-gap: 25px;
}

.bookcard-container .bookcard {
    margin: 1em;

    background-color: rgb(83, 68, 80);
}

.bookcard-container .bookcard:nth-child(even) {
    background-color: rgb(86, 78, 85);
}