table {
    margin: 0 auto;
    margin-top: 1rem;
    color: #EDBFC6;
    line-height: 16px;
    font-size:small;
}
th {
    color: #AF8D86;
}
td, th {
    border: 1px solid #5F4842;
    text-align: left;
  }
tr {
    width: 100%;
  }
.array {
    border: none;
    text-align: left;
}

.centered {
text-align: center;
}

.table-btn {
	background-color: var(--accentlight);
	border-color: var(--accentlight);
}

.table-btn:hover {
  color: var(--accentdark);
  transition: 0.3s transform, 0.3s background-color, 0.3s box-shadow, 0.3s ease-in-out;
  box-shadow: 3px 3px 3px 3px rgba(31, 31, 29, 0.2);
}