:root {
  --background: rgb(79, 110, 79);
  --headertext: #e2e9db;
  --text: #dce6de;
  --accentdark: #537544;
  --accentlight: #bbbba3;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--background);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

